@import "components/card.css";
@import "components/headerAndButton.css";
@import "components/nav.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
