* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header {
  display: flex;
  justify-content: center;
  position: sticky;
  margin: 30px;
  top: 10px;
  font-family: Brush Script MT;
  font-weight: lighter;
  text-shadow: lightgray 2px 2px;
}
.nav a {
  text-decoration: none;
  color: green;
}
a:hover {
  color: black;
}
.navpic {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2em;
  line-height: 1.6em;
}
.img {
  border-radius: 50%;
  width: auto;
  height: 250px;
  margin-bottom: 30px;
  box-shadow: 15px 15px 40px 5px #000000;
}
.nflogo {
  border-radius: 18px;
  width: 40px;
  height: 20px;
  margin-left: 10px;
  box-shadow: 10px 10px 20px 1px rgb(0, 0, 0);
}
.bio,
.card__skillset,
.contact {
  margin: 30px 20px;
  border: solid;
  border-width: thin;
  border-radius: 18px;
  box-shadow: 10px 10px 30px 1px;
  padding: 10px;
  line-height: 1.6em;
}
.card__skillset {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.card__skillset--h2 {
  text-align: center;
  grid-column: 1 / 4;
  grid-gap: 5px;
}
.card__skillset--git {
  border: solid 2px;
  border-radius: 5px;
  text-align: center;
  grid-area: 2 / 6 / 4 / 7;
}
.card__skillset--css {
  border: solid 2px;
  border-radius: 5px;
  text-align: center;
  grid-area: 3 / 2 / 4 / 6;
}
.card__skillset--html {
  border: solid 2px;
  border-radius: 5px;
  text-align: center;
  grid-area: 2 / 1 / 3 / 5;
}
.card__skillset--js {
  border: solid 2px;
  border-radius: 5px;
  text-align: center;
  grid-area: 4 / 3 / 5 / 7;
}
.card__skillset--github {
  border: solid 2px;
  border-radius: 5px;
  text-align: center;
  grid-area: 4 / 1 / 5 / 3;
}
.card__skillset--grid {
  border: solid 2px;
  border-radius: 5px;
  text-align: center;
  grid-area: 3 / 1 / 4 / 2;
}
.card__skillset--flex {
  border: solid 2px;
  border-radius: 5px;
  text-align: center;
  grid-area: 2 / 5 / 3 / 6;
}
.buttonup {
  border-radius: 5px;
  display: flex;
  position: sticky;
  bottom: 20px;
  left: 20px;
  height: 40px;
  width: 40px;
}
.button {
  text-align: center;
}
